<div class="container">
    <div class="row">
        <form #F='ngForm' ngNativeValidate (ngSubmit)="onSubmit(F)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search__container">
                            <input class="search__input" type="text" placeholder="Search for a City" name="cityname" #city="ngModel" [(ngModel)]="cityname" required>
                        </div>
                        <div class="search__container">
                            <input class="search__input" type="text" placeholder="Paese" name="country" #countries="ngModel" [(ngModel)]="country" required maxLength="2" (ngModelChange)="calculateTotal($event)">
                        </div>
                        <div class="col-md-11" [hidden]="!countries.touched && !countries.dirty && !isFound">
                            <div class="row" style="margin: 0 auto;
                            margin-top: 4px;">
                                <div class="col-md-12" style="width: 100%; height:140px; background-color:white; border-radius: 9px;">
                                    <div class="row p-3">
                                        <img src={{resSearch.flag}} style="width: 30px; margin-right: 5px;" />
                                        <p style="margin: 0">{{resSearch.name | uppercase}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-2">
                        <button [ngClass]="{'disabled': !F.form.valid}" type="submit" class="btn-grad btn btn-primary p mt-4">Cerca</button>
                        <button type="button" class="btn-grad  p ml-4 mt-4" (click)="getWeek()" *ngIf="!toggle">Meteo Della settimana</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" [hidden]="!showCard">
        <div class="card" *ngFor="let item of cityFound.data">
            <div class="card-body">
                <h2 class="card-title">{{item.city_name}}</h2>
                <p>{{item.temp}}</p>
                <span style="text-align: center; font-size: 2rem;">{{item.weather.description}}</span>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="!clicked">
        <div class="card weekly" *ngFor="let item of weeklyFound.data">
            <div class="card-body">
                <h2 class="card-title">{{weeklyFound.city_name}}</h2>
                <p>{{item.datetime | date:'d/M/y'}}</p>
                <p>{{item.temp}}</p>
                <span style="text-align: center; font-size: 1rem;">{{item.weather.description}}</span>
            </div>
        </div>
    </div>
</div>